@page "/pets/edit"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using PetAdoption_Project.Domain
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administrator")]
<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Pet</h2>
<hr />
@if (Pet is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Pet" OnValidSubmit="UpdatePet" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Pet.Id" value="@Pet.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Pet.Name" class="form-control" />
                    <ValidationMessage For="() => Pet.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="ageid" class="form-label">AgeId:</label>
                    <InputNumber id="age" @bind-Value="Pet.Age" class="form-control" />
                    <ValidationMessage For="() => Pet.Age" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="breed" class="form-label">Breed:</label>
                    <InputText id="breed" @bind-Value="Pet.Breed" class="form-control" />
                    <ValidationMessage For="() => Pet.Breed" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="colour" class="form-label">Colour:</label>
                    <InputText id="colour" @bind-Value="Pet.Colour" class="form-control" />
                    <ValidationMessage For="() => Pet.Colour" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender:</label>
                    <InputText id="gender" @bind-Value="Pet.Gender" class="form-control" />
                    <ValidationMessage For="() => Pet.Gender" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="branchid" class="form-label">BranchId:</label>
                    <InputNumber id="branchid" @bind-Value="Pet.BranchId" class="form-control" />
                    <ValidationMessage For="() => Pet.BranchId" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Pet.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Pet.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Pet.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Pet.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden> 
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Pet.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Pet.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/pets">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Pet? Pet { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Pet ??= await context.Pet.FirstOrDefaultAsync(m => m.Id == Id);

        if (Pet is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePet()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Pet!).State = EntityState.Modified;

        try
        {
            Pet.DateUpdated = DateTime.Now;
            Pet.UpdatedBy = userId;
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PetExists(Pet!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/pets");
    }
    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider
    //Override the OnInitialized method to get the user id.
    protected override async void OnInitialized()
    {
        using var context = DbFactory.CreateDbContext();
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }

    private bool PetExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Pet.Any(e => e.Id == id);
    }
}
