@page "/pets"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PetAdoption_Project.Domain
@using PetAdoption_Project.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory

<PageTitle>Pets</PageTitle>

<h1>Pets</h1>
<AuthorizeView Roles="Administrator">
<p>
    <a href="pets/create">Create New</a>
</p>
</AuthorizeView>

<QuickGrid Class="table" Items="FilteredPets">
    <PropertyColumn Property="pet => pet.Name" />
    <PropertyColumn Property="pet => pet.Age" />
    <PropertyColumn Property="pet => pet.Breed" />
    <PropertyColumn Property="pet => pet.Colour" />
    <PropertyColumn Property="pet => pet.Gender" />
    <PropertyColumn Property="pet => pet.BranchId" />
    <PropertyColumn Property="pet => pet.DateUpdated" />
    <PropertyColumn Property="pet => pet.CreatedBy" />
    <PropertyColumn Property="pet => pet.UpdatedBy" />   
    <PropertyColumn Property="pet => pet.IsAdopted" />


    <TemplateColumn Context="pet">
        <AuthorizeView Roles="Administrator">
        <a href="@($"pets/edit?id={pet.Id}")">Edit</a> |
        <a href="@($"pets/details?id={pet.Id}")">Details</a> |
        <a href="@($"pets/delete?id={pet.Id}")">Delete</a>
        </AuthorizeView>
        <AuthorizeView Roles="User">
        <a href="@($"appointments/create/{pet.Id}")">Adopt this pet!</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private PetAdoption_ProjectContext context = default!;
    private string userId = string.Empty;
    private bool isAdmin = false;
    @inject AuthenticationStateProvider authenticationStateProvider
    private IQueryable<Pet> FilteredPets => isAdmin
    ? context.Pet
    : context.Pet.Where(p => !p.IsAdopted);
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Extract user information
        userId = user.FindFirst("userId")?.Value ?? string.Empty;
        isAdmin = user.IsInRole("Administrator");
        context = DbFactory.CreateDbContext();

    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
