@page "/inquiries"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PetAdoption_Project.Domain
@using PetAdoption_Project.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory

<PageTitle>Inquiries</PageTitle>

<h1>Inquiries</h1>
<AuthorizeView Roles="User">
<p>
    <a href="inquiries/create">Create New</a>
</p>
</AuthorizeView>

<QuickGrid Class="table" Items="FilteredInquiries">
    <PropertyColumn Property="inquiry => inquiry.Question" />
    <PropertyColumn Property="inquiry => inquiry.DateUpdated" />
    <PropertyColumn Property="inquiry => inquiry.UpdatedBy" />
    <PropertyColumn Property="inquiry => inquiry.IsAnswered" />
    <PropertyColumn Property="inquiry => inquiry.ResponseDate" />
    <PropertyColumn Property="inquiry => inquiry.Response" />


    <TemplateColumn Context="inquiry">
     <!--  <a href="@($"inquiries/edit?id={inquiry.Id}")">Edit</a> | -->
        <AuthorizeView Roles="User">
        <a href="@($"inquiries/details?id={inquiry.Id}")">Details</a> 
        |<a href="@($"inquiries/delete?id={inquiry.Id}")">Delete</a>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <a href="@($"inquiries/response?id={inquiry.Id}")">Answer this Query</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private PetAdoption_ProjectContext context = default!;
    private string userId = string.Empty;
    private bool isAdmin = false;
    @inject AuthenticationStateProvider authenticationStateProvider
    private IQueryable<Inquiry> FilteredInquiries => isAdmin
    ? context.Inquiry // Admins can see all bookings
    : context.Inquiry.Where(e => e.CreatedBy == userId);
    protected override async Task OnInitializedAsync()
    {
        // Fetch the authentication state
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Extract user information
        userId = user.FindFirst("userId")?.Value ?? string.Empty;
        isAdmin = user.IsInRole("Administrator");
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
