@page "/donations/create"
@using Microsoft.EntityFrameworkCore
@using PetAdoption_Project.Domain
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Donation</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Donation" OnValidSubmit="AddDonation" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="dateout" class="form-label">DateOut:</label> 
                <InputDate id="dateout" @bind-Value="Donation.DateOut" class="form-control" /> 
                <ValidationMessage For="() => Donation.DateOut" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datein" class="form-label">DateIn:</label> 
                <InputDate id="datein" @bind-Value="Donation.DateIn" class="form-control" /> 
                <ValidationMessage For="() => Donation.DateIn" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="amount" class="form-label">Amount:</label> 
                <InputNumber id="amount" @bind-Value="Donation.Amount" class="form-control" /> 
                <ValidationMessage For="() => Donation.Amount" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="customerid" class="form-label">CustomerId:</label> 
                <InputNumber id="customerid" @bind-Value="Donation.CustomerId" class="form-control" /> 
                <ValidationMessage For="() => Donation.CustomerId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Donation.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Donation.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Donation.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Donation.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Donation.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Donation.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Donation.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Donation.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/donations">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Donation Donation { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddDonation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Donation.Add(Donation);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/donations");
    }
}
