@page "/donations/edit"
@using Microsoft.EntityFrameworkCore
@using PetAdoption_Project.Domain
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Donation</h2>
<hr />
@if (Donation is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Donation" OnValidSubmit="UpdateDonation" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Donation.Id" value="@Donation.Id" />
                <div class="mb-3">
                    <label for="dateout" class="form-label">DateOut:</label>
                    <InputDate id="dateout" @bind-Value="Donation.DateOut" class="form-control" />
                    <ValidationMessage For="() => Donation.DateOut" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datein" class="form-label">DateIn:</label>
                    <InputDate id="datein" @bind-Value="Donation.DateIn" class="form-control" />
                    <ValidationMessage For="() => Donation.DateIn" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount:</label>
                    <InputNumber id="amount" @bind-Value="Donation.Amount" class="form-control" />
                    <ValidationMessage For="() => Donation.Amount" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="customerid" class="form-label">CustomerId:</label>
                    <InputNumber id="customerid" @bind-Value="Donation.CustomerId" class="form-control" />
                    <ValidationMessage For="() => Donation.CustomerId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Donation.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Donation.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Donation.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Donation.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Donation.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Donation.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Donation.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Donation.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/donations">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Donation? Donation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Donation ??= await context.Donation.FirstOrDefaultAsync(m => m.Id == Id);

        if (Donation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDonation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Donation!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DonationExists(Donation!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/donations");
    }

    private bool DonationExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Donation.Any(e => e.Id == id);
    }
}
