@page "/Account/AccessDenied"

<PageTitle>Access Denied</PageTitle>

<header>
    <h1 class="text-danger">Access Denied!</h1>
    <p class="text-danger">You have attempted to perform an unauthorized action.</p>
</header>
<div>
    <a href="/">Back to Home</a>
</div>